.nav-item {
	margin: auto !important;
	width: 90% !important;
	border-radius: 15px !important;
}

.nav-item-selected {
	background-color: lightskyblue !important;
	border: 1px solid white !important;
}
